*
{
    padding: 0;
    margin: 0;
}
html
{
    box-sizing: border-box;
}
body
{
    background-color: rgb(0, 0, 97);
    font-family: 'Times New Roman', Times, serif;
}
.form-box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0, 13, 88);
    width: 350px;
    border: 1px solid aqua;
    border-radius: 5px;
}
form
{
    margin: 1.5rem;
}
form h1
{
    color: aqua;
}
.sign-button
{
    display: flex;
    flex-direction: column;
}
.sign-button a
{
    margin-top: 0.6rem;
}
::placeholder
{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
input
{
    margin-top: 1.5rem;
    width: 95%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 255, 255);
    background-color: inherit;
    color: white;
    outline: none;
	resize: none;
}
.login
{
    margin-top: 2rem;
    height: 30px;
    width: 90%;
    background-color: darkblue;
    border: 1px solid aqua;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.login:hover{
    transform: scale(1.1);
}
p
{
    margin-top: 1rem;
    color: white;
}
a
{
    color: aqua;
    text-decoration: none;
}
.cent
{
    text-align: center;
}
.socialsign
{
    display: flex;
    flex-direction: column;
}
.socialsign button
{
    margin-top: 1rem;
    height: 30px;
    cursor: pointer;
    background-color: aqua;
    border: 1px solid #ffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: darkblue;
}
.socialsign button:hover
{
    transform: scale(0.9);
}
.fa-brands
{
    font-size: medium;
    text-align: center;
    color: darkblue;
    margin-left: 1rem;
}
@media  screen and (max-width: 770px)
{
    .form-box
    {
    width: 300px;
    }
}